
/**
 * Styles added by vscode-titlebar-less-macos extension
 * https://marketplace.visualstudio.com/items?itemName=lehni.vscode-titlebar-less-macos
 */

:root {
  --traffic-lights-width: 78px;
  --traffic-lights-height: 35px;
}

/**
 * Extension requires "window.titleBarStyle" to be set to "custom",
 * so use .titlebar-style-custom as a filter for all modifications.
 */

/* Make activity-bar wider to align with traffic lights */ 
.monaco-workbench.titlebar-less .activitybar,
.monaco-workbench.titlebar-less .activitybar .content {
  width: var(--traffic-lights-width);
}

/* Move activity-bar .content down to not be covered by traffic lights */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar:not(.right) .content .monaco-action-bar.vertical {
  margin-top: var(--traffic-lights-height); 
}

/* Move editor title when side-bar is hidden... */
.monaco-workbench.titlebar-less:not(.fullscreen).nosidebar .editor .title,
/* ...or when side-bar is on the right... */
.monaco-workbench.titlebar-less:not(.fullscreen) .sidebar.right + .editor .title,
/* ...also move side-bar title when activity-bar is hidden and side-bar is not on the right... */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar[aria-hidden="true"] + .sidebar:not(.right) > .title {
  padding-left: var(--traffic-lights-width);
}
/* ... and for all the selectors above, move nested .tabs-breadcrumbs back by the same amount. */
.monaco-workbench.titlebar-less:not(.fullscreen).nosidebar .editor .title .tabs-breadcrumbs,
.monaco-workbench.titlebar-less:not(.fullscreen) .sidebar.right + .editor .title .tabs-breadcrumbs,
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar[aria-hidden="true"] + .sidebar:not(.right) > .title .tabs-breadcrumbs {
  margin-left: calc(-1 * var(--traffic-lights-width));
}

/* ...but when activity-bar is visible and side-bar is hidden...  */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar:not([aria-hidden="true"]) + .sidebar:not(.right) + .editor .title,
/* ...or when there's a split-view with multiple tabs, don't move .tabs-container... */
.monaco-workbench.titlebar-less .split-view-container .split-view-view + .split-view-view .title {
  padding-left: 0 !important;
}
/* ... and for all the selectors above, clear moving of nested .tabs-breadcrumbs. */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar:not([aria-hidden="true"]) + .sidebar:not(.right) + .editor .title .tabs-breadcrumbs,
.monaco-workbench.titlebar-less .split-view-container .split-view-view + .split-view-view .title .tabs-breadcrumbs {
  margin-left: 0 !important;
}

.monaco-workbench.titlebar-less .activitybar .content .monaco-action-bar .action-label {
  width: auto;
  background-position: center;
  padding: 0;
}

.monaco-workbench.titlebar-less .activitybar .content .monaco-action-bar .action-item::before {
  width: auto;
  right: 0;
}

.monaco-workbench.titlebar-less .activitybar .content .monaco-action-bar .badge {
  width: 100%;
}

.monaco-workbench.titlebar-less .activitybar .content .monaco-action-bar .badge .badge-content {
  left: calc(50% + 0.5em); /* Relative to font-size, so it works on all zoom levels */
  right: auto;
}

/* Allow dragging on the activity-bar... */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar {
  -webkit-app-region: drag;
}

/* ...but still allow to click actions without dragging */
.monaco-workbench.titlebar-less:not(.fullscreen) .activitybar .content .monaco-action-bar {
  -webkit-app-region: no-drag;
}

 /* Allow dragging on side-bar title... */
 .monaco-workbench.titlebar-less:not(.fullscreen) .sidebar .composite.title {
  -webkit-app-region: drag;
}
/* ...but still allow to click actions without dragging. */
.monaco-workbench.titlebar-less:not(.fullscreen) .sidebar .title .title-actions .action-label {
  -webkit-app-region: no-drag;
}

/* Allow dragging on titles with tabs at the top of the window... */
.monaco-workbench.titlebar-less:not(.fullscreen) .titlebar-less-draggable.title {
  -webkit-app-region: drag;
  -webkit-user-drag: none;
}

/* ...but still allow dragging the tabs themselves to re-order. */
.monaco-workbench.titlebar-less:not(.fullscreen) .titlebar-less-draggable.title .tablist,
.monaco-workbench.titlebar-less:not(.fullscreen) .titlebar-less-draggable.title .tab {
  -webkit-app-region: no-drag;
}
