/**
 * Stlyes added by vscode-titlebar-less-macos extension
 * https://marketplace.visualstudio.com/items?itemName=lehni.vscode-titlebar-less-macos
 */

/* fullscreen is forced to remove the titlebar, so use .fullscreen as filter */

/* Make .activitybar 78px wide to align with traffic lights */ 
.monaco-workbench.fullscreen .activitybar,
.monaco-workbench.fullscreen .activitybar .content {
  width: 78px !important;
  min-width: 78px;
}

/* Move .activitybar .content down to not be covered by traffic lights */
.monaco-workbench.fullscreen .activitybar .content .monaco-action-bar.vertical {
  padding-top: 35px; 
}

/* Move .sidebar title when .activitybar is hidden */
.monaco-workbench.fullscreen .activitybar[aria-hidden="true"] + .sidebar .composite.title {
	padding-left: 78px; /* Use padding instead of margin, for dragging, see below */
}

/* Move first .tab when .sidebar is hidden... */
.monaco-workbench.fullscreen.nosidebar .tabs-container > .tab:first-child {
	margin-left: 78px;
}

/* ...but when .activitybar is visible and .sidebar is hidden, don't move first .tab  */
.monaco-workbench.fullscreen .activitybar:not([aria-hidden="true"]) + .sidebar + .editor .tabs-container > .tab:first-child {
	margin-left: 0;
}

.monaco-workbench.fullscreen .activitybar .content .monaco-action-bar .action-label {
  width: auto;
  background-position: center;
}

.monaco-workbench.fullscreen .activitybar .content .monaco-action-bar .action-item::before {
  width: auto;
  right: 9px;
}

.monaco-workbench.fullscreen .activitybar .content .monaco-action-bar .badge {
  width: 100%;
}

/* Allow dragging on the .activitybar */
.monaco-workbench.fullscreen .activitybar {
  -webkit-app-region: drag;
}

/* Still allow to click actions without dragging though */
.monaco-workbench.fullscreen .activitybar .content .monaco-action-bar {
  -webkit-app-region: no-drag;
}

 /* Allow dragging on .sidebar title */
 .monaco-workbench.fullscreen .sidebar .composite.title {
  -webkit-app-region: drag;
}

/* Still allow to click actions without dragging though */
.monaco-workbench.fullscreen .sidebar .title .title-actions .action-label {
  -webkit-app-region: no-drag;
}

/*
 * Support both .editor-group-container and .one-editor-silo .container for now.
 * See: https://github.com/Microsoft/vscode/commit/bd35d2e15bc2a88aa9ea857cbd6c407d5d225c1a
 * TODO: Remove .one-editor-silo in Fall 2018
 */

/* Allow dragging on empty space in tabs */
.monaco-workbench.fullscreen .part.editor .content .editor-group-container .title .tabs-container,
.monaco-workbench.fullscreen .part.editor .content .one-editor-silo .container .title .tabs-container {
  -webkit-app-region: drag;
}

/* Allow dragging tabs to re-order */
.monaco-workbench.fullscreen .part.editor .content .editor-group-container .title .tabs-container .tab,
.monaco-workbench.fullscreen .part.editor .content .one-editor-silo .container .title .tabs-container .tab {
  -webkit-app-region: no-drag;
}
